.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:green;
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    margin: 1%;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  